html{
    margin: 15px;
}
#chart-area svg {
    border: 1px solid grey;
}
.axis-label{
    font-size: 20px;
    text-anchor: middle;
}

.y.axis-label{
    transform: rotate(-90deg);
}

.x-axis text{
      font-weight: bold;
}

.close{
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.sma{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sma-period{
    width: 120px;
}

#offset{
    width: 80px;
}

table {
    margin-top: 15px;
}

.white {
    background: rgb(255, 255, 255);
}

.whitesmoke {
    background: whitesmoke;
}

.tables {
    display: flex;
    flex-direction: row;
}

table {
    margin: 20px;
}