html{
    margin: 15px;
}
svg {
    border: 1px solid grey;
}
.axis-label{
    font-size: 20px;
    text-anchor: middle;
}

.y.axis-label{
    transform: rotate(-90deg);
}

.x-axis text{
      font-weight: bold;
}

.close{
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.sma{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}

#slider-container{
    position: relative;
    background-color: gray;
    height: 20px;
    width: 1000px;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
